<?xml version="1.0" encoding="UTF-8"?>
<XRD xmlns="http://docs.oasis-open.org/ns/xri/xrd-1.0" 
     xmlns:hm="http://host-meta.net/xrd/1.0">
  
  <Subject>testserver.xyperico.dk</Subject>
  
  <Property type="http://test">Blah</Property>
  
  <Link rel="http://microformats/vCard" 
        href="http://test/vCard">
    <Title>Host vCard</Title>
  </Link>

  <Link rel="lrdd" 
        template="http://test?uri={uri}">
    <Title>Resource Template</Title>
  </Link>

</XRD>