<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="NHibernateSettings"
             type="Xyperico.Base.NHibernate.ConfigurationSettings, Xyperico.Base.NHibernate"/>
  </configSections>

  <NHibernateSettings>
    <ConfigurationFiles>
      <add Filename="C:\Projects\Xyperico\Configuration\Xyperico.Cms.Query.Tests.cfg.xml" Name="CmsQuery"/>
    </ConfigurationFiles>
    <MappingAssemblies>
      <add Assembly="Xyperico.Cms.Query.NHibernate"/>
    </MappingAssemblies>
  </NHibernateSettings>

  <appSettings>
    <!-- Test/debug -->
    <add key="RestServerBaseUrl" value="http://rest.xyperico.dk"/>
    <add key="WebServerBaseUrl" value="http://www.xyperico.dk"/>
  </appSettings>
  
</configuration>
