<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MessageBusSettings" type="Xyperico.Agres.MessageBus.MessageBusSettings, Xyperico.Agres"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <MessageBusSettings InputQueue="Zebra">
    <Routes>
      <add Messages="Abc.Def" Endpoint="Alibaba"/>
      <add Messages="Xyz.Qwe" Endpoint="RobinHat"/>
    </Routes>
  </MessageBusSettings>
  
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
    <file value="TestLog.txt" />
    <appendToFile value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <maximumFileSize value="100KB" />
    <maxSizeRollBackups value="1" />

    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%date{dd/MM/yyyy HH:mm:ss} [%6thread] %-5level %message%newline"/>
    </layout>
  </appender>

  <root>
    <level value="debug"/>
    <appender-ref ref="RollingFile"/>
  </root>
  </log4net>
</configuration>  