<?xml version="1.0" encoding="UTF-8"?>
<XRD xmlns="http://docs.oasis-open.org/ns/xri/xrd-1.0" 
     xmlns:hm="http://host-meta.net/xrd/1.0">
  <hm:Host xmlns="http://host-meta.net/xrd/1.0">testserver.xyperico.dk</hm:Host>
  <Link rel="lrdd" 
        template="http://test.xyperico.dk/describe?uri={uri}">
    <Title>WebFinger template</Title>
  </Link>
</XRD>
